body {
    background-color: #efeee8;
    color: #1c2b11;
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


.container {
    width: 90%;
    max-width: 65rem;
    margin: auto;
    text-align: center;
}
.basic_text {
    font-size: 1.3rem;
}
h2 {
    font-size: 1.6rem;
}

/* HEADER */
header {
    background-color: #ddecd5;
}
.nav_container {
    display: flex;
    align-items: center;
    height: 7rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.nav_bg{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_bg_image {
    width: 90%;
    max-width: 60rem;
    padding: 1rem 0;
}

header a {
    color: #1c2b11;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: bold;
}
.logo {
    max-width: 7rem;
    margin-top: 0.75rem;
}
.nav_group_pc {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.nav_group_mobile {
    display: none;
}
.nav_item {
    white-space: nowrap;
}

/* MAIN */

/* home - about */
.about {
    background-color: #bcdfa6;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.about_txt_group {
    color: black;
}
.about_txt {
    text-align: left;
}
.about_link {
    margin-left: 0.5rem;
    text-decoration: underline;
    color: black;
    text-transform: capitalize;
    font-weight: bold;
}
.about_link:hover {
    text-decoration: solid;
    transition: 0.5s;
}
.about_image {
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
}

/* home - ball */
.ball {
    background-color: #6dad46;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.ball_txt_group {
    color: black;
}
.ball_txt {
    text-align: left;
}
.ball_link {
    margin-left: 0.5rem;
    text-decoration: underline;
    color: black;
    text-transform: capitalize;
    font-weight: bold;
}
.ball_link:hover {
    text-decoration: solid;
    transition: 0.5s;
}
.ball_image {
    width: 100%;
    max-width: 20rem;
    margin: 0 auto;
}

/* home - work */
.work {
    background-color: #97c47c;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.work_txt_group {
    color: black;
}
.work_txt {
    text-align: left;
}
.work_link {
    margin-left: 0.5rem;
    text-decoration: underline;
    color: black;
    text-transform: capitalize;
    font-weight: bold;
}
.work_link:hover {
    text-decoration: solid;
    transition: 0.5s;
}
.work_image {
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
}


/* about - about */
.about_page {
    background-color: #bcdfa6;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.about_page_group {
    color: black;
}
.about_page_txt {
    text-align: left;
}
.about_page_txt p {
    margin: 0 0 1.5rem 0;
}
.about_page_image {
    width: 100%;
    margin: 0 auto;
}
.ig_container {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* work - work */
.work_page {
    background-color: #bcdfa6;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
h1 {
    font-size: 2rem;
    text-transform: capitalize;
}
.work_page h2 {
    text-transform: capitalize;
}
.work_page_group {
    color: black;
}
.work_page p {
    text-align: left;
}


/* ball - ball */
.ball_main {
    background-image: url("/images/ball_bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #bcdfa6;
    padding-top: 1rem;
    padding-bottom: 2rem;
    color: white;
}
.ball_about_text {
    font-weight: bold;
}
.flexbox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.image_container {
    flex-basis: 48%;
    margin-bottom: 1rem;
    box-sizing: border-box;
    text-align: center;
}
.image_container img {
    width: 100%;
    height: auto;
}
.caption {
    background-color: black;
    font-weight: bold;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
}
.text {
    background: rgba(0, 0, 0, 0.7); /* Transparent background */
    backdrop-filter: blur(1rem); /* Blurred effect */
    border-radius: 0.5rem;
    margin-top: 0rem;
}

/* ball - form */
.form-container {
    width: 90%;
    max-width: 37.5rem;
    margin: auto;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.2); /* Transparent background */
    backdrop-filter: blur(1rem); /* Blurred effect */
    border-radius: 0.5rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    color: white;
}

.form-row {
    margin-bottom: 0.75rem;
    display: flex;
    flex-direction: column;
}

.form-row label {
    font-size: 1rem;
    margin-bottom: 0.6rem;
}

.form-row input,
.form-row select,
.form-row textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
}
input[type="checkbox"] {
    width: 1rem;
    transform: scale(2); /* Adjust the scale factor as needed */
    margin-right: 0.75rem; /* Adds spacing between the checkbox and label */
}
input[type="radio"] {
    width: 1rem;
    transform: scale(1.25); /* Makes the radio buttons larger */
    margin-right: 0.75rem; /* Adds spacing between the radio button and label */
}

textarea {
    resize: none;
}

ul {
    margin: 0.75rem 0;
    padding-left: 1.2rem;
}

button {
    display: block;
    width: 100%;
    padding: 0.65rem;
    border: none;
    border-radius: 0.5rem;
    background: #132a13;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #3d7018;
}

/* contact - contact */
.contact_page {
    background-color: #bcdfa6;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.contact_soc_head {
    text-transform: capitalize;
}
.contact_socials {
    display: flex;
    justify-content: center;
}
.contact_socials a {
    text-decoration: none;
    padding: 2rem;
    background-color: none;
    margin: 0.75rem;
    border-radius: 50%;
}
.contact_socials a i {
    font-size: 2rem;
    color: black;
    opacity: 0.9;
}
.contact_socials a:hover {
    background-color: #132a13;
    transition: 0.5s;
}
.contact_socials a:hover i {
    color: #bcdfa6;
    transition: 0.5s;
}
.map {
    width: 62.5rem;
    max-width: 100%;
    height: 40.625rem;
    max-height: 100%;
}

/* fl */
.gif {
    width: 90%;
    max-width: 50rem;
    margin: 0 auto;
}
.coming_soon {
    background-color: #bcdfa6;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
/* FOOTER */
footer {
    background-color: #132a13;
    color: #f4f4f4;
    text-align: center;
}
.footer_info {
    padding-top: 1rem;
}
.socials {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.socials a {
    text-decoration: none;
    padding: 0.75rem;
    background-color: #f4f4f4;
    margin: 0 0.75rem;
    border-radius: 50%;
}
.socials a i {
    font-size: 1.25rem;
    color: #132a13;
    opacity: 0.9;
}
.socials a:hover {
    background-color: #132a13;
    transition: 0.5s;
}
.socials a:hover i {
    color: #f4f4f4;
    transition: 0.5s;
}
.copyright {
    background-color: #0e1808;
    color: #f4f4f4;
    font-size: 0.75rem;
    padding: 0.5rem;
}


/* Media Queries */
@media only screen and (max-width: 640px) {
    .nav_container {
        display: flex;
        align-items: center;
        height: 7rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        justify-content: space-evenly;
    }
.nav_group_pc {
    display: none;
    }
.nav_group_mobile {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    margin: 0;} 
}